/*
 ==============================================================================
 Base
 ==============================================================================
*/

/*
Base styling for "root" elements.

1. `border-box` please
2. Set default font size (in pixels)
3. Set base typography properties and colors.
*/

html {
  box-sizing: border-box; /* [1] */
  font-size: var(--font-size-base); /* [2] */
}

*,
*::before,
*::after {
  box-sizing: inherit; /* [1] */
}

body { /* [3] */
  font-family: var(--font-family-serif);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color);
  background-color: var(--color-bg);
}
