/*
 ==============================================================================
 Code
 ==============================================================================
*/

pre, code {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-base);
  background-color: var(--color-lighter-gray);
  border: var(--code-border);
  border-radius: var(--code-border-radius);
}

/*
 Code » Multi line code snippet
 ==============================================================================
*/

pre {
  margin-top: 0;
  padding: 0.5rem;
  margin-bottom: var(--code-margin-bottom);
}

/*
 Code » Inline code snippet
 ==============================================================================
*/

/*
1. Add a valid empty character to both pseudo selectors to achieve nice padding
2. Adjust letter spacing for better readability
*/

code {
  padding-top: var(--code-padding-vertical);
  padding-bottom: var(--code-padding-vertical);
  padding-left: var(--code-padding-horizontal);
  padding-right: var(--code-padding-horizontal);
}

code::before,
code::after {
  content: '\00a0'; /* [1] */
  letter-spacing: -0.2rem; /* [2] */
}
