/*
 ==============================================================================
 Container
 ==============================================================================
*/

/**
 * Useful container that centers the content within it.
 */

@custom-selector :--container #content, #postamble;

:--container {
  margin-left: auto;
  margin-right: auto;

  @media (--medium-screens) {
    max-width: var(--content-max-width);
    padding-left: var(--content-padding-horizontal);
    padding-right: var(--content-padding-horizontal);
  }
}
