/*
 ==============================================================================
 Hero
 ==============================================================================
*/

.hero {
  background-image: url(http://lorempixel.com/1440/900/city);
  background-color: var(--color-light-gray);
  background-position: 50%;
  background-repeat: no-repeat;
  margin-bottom: 5rem;
  max-width: 2000px;
  max-height: 1000px;
  display: block;
  position: relative;
}

.hero::before,
.hero::after {
  content: '';
  display: block;
  width: 100%;
}

.hero::before {
  padding-bottom: 33.3%;
}

.hero::after {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: rgba(1, 1, 1, 0.15);
}

.hero small {
  position: absolute;
  width: 100%;
  display: inline-block;
  text-align: center;
  color: var(--color-gray);
  font-size: 55%;
  bottom: -2rem;
}
