/*
 ==============================================================================
 Links
 ==============================================================================
*/

:root {
  --link-shadow: -1px -1px 0 #FFF, -1px -1px 0 #FFF, -1px -1px 0 #FFF;
  --link-shadow-offset-x: 2px;
  --link-shadow-offset-y: 3px;
  --link-color: var(--color);
  --link-color-underline: color(var(--color) alpha(-20%));
}

a {
  color: var(--link-color);
  text-decoration: none;
  text-shadow: var(--link-shadow);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) var(--link-shadow-offset-x), var(--link-color) var(--link-shadow-offset-x), var(--link-color) var(--link-shadow-offset-y), rgba(0, 0, 0, 0) var(--link-shadow-offset-y));
}
