/*
 ==============================================================================
 Links
 ==============================================================================
*/

a {
  color: var(--link-color);
  text-decoration: none;
  text-shadow: var(--link-shadow);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) var(--link-shadow-offset-x), var(--link-color) var(--link-shadow-offset-x), var(--link-color) var(--link-shadow-offset-y), rgba(0, 0, 0, 0) var(--link-shadow-offset-y));
}
