/*
 ==============================================================================
 Lists
 ==============================================================================
*/

ol, ul {
  margin-top: 0;
  margin-bottom: var(--list-margin-bottom);
}

/* Remove bottom margin of children lists */
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

/*
 List » Unordered List
 ==============================================================================
*/

ul {
  list-style: none;
}

ul li {
  position: relative;
}

/*
 List » Unordered List » Level 1
 ==============================================================================
*/

ul li::before {
  content: var(--list-symbol-level1);
  position: absolute;
  left: -25px;
}

/*
 List » Unordered List » Level 2
 ==============================================================================
*/

ul li + ul li::before {
  content: var(--list-symbol-level2);
  font-size: 11px;
  top: 10px;
}

/*
 List » Unordered List » Level 3
 ==============================================================================
*/

ul li + ul li + ul li::before {
  content: var(--list-symbol-level3);
  font-size: 15px;
  top: 7px;
}

/*
 List » Unordered List » Level 4
 ==============================================================================
*/

ul li + ul li + ul li + ul li::before {
  content: var(--list-symbol-level4);
}

/*
 List » Unordered List » Level 5
 ==============================================================================
*/

ul li + ul li + ul li + ul li + ul li::before {
  content: var(--list-symbol-level5);
  font-size: 1rem;
  top: 2.5px;
}

/*
 List » Ordered List
 ==============================================================================
*/

ol > ol {
  list-style: lower-roman;
}

ol > ol > ol {
  list-style: lower-latin;
}

ol > ol > ol > ol {
  list-style: upper-roman;
}

ol > ol > ol > ol > ol {
  list-style: upper-latin;
}
