/*
 ==============================================================================
 Lists
 ==============================================================================
*/

/**
 * 1. Remove bottom margin of children lists
 */

ol,
ul {
  margin-top: 0;
  margin-bottom: var(--list-margin-bottom);
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; /* [1] */
}

/*
 List » Unordered List
 ==============================================================================
*/

/**
 * To make custom bullets and unique bullets per level we use hand picked
 * unicode characters.
 *
 * Unordered lists supported until level 5.
 */

ul {
  list-style: none;
}

ul li {
  position: relative;
}

/**
 * Make sure that check list items will never display a bullet
 */

ul li[class^=o]::before {
  content: '';
}

/*
 List » Unordered List » Level 1
 ==============================================================================
*/

ul li::before {
  content: var(--list-symbol-level1);
  position: absolute;
  left: -25px;
}

/*
 List » Unordered List » Level 2
 ==============================================================================
*/

ul li > ul li::before {
  content: var(--list-symbol-level2);
  font-size: 11px;
  top: 10px;
}

/*
 List » Unordered List » Level 3
 ==============================================================================
*/

ul li > ul li > ul li::before {
  content: var(--list-symbol-level3);
  font-size: 15px;
  top: 7px;
}

/*
 List » Unordered List » Level 4
 ==============================================================================
*/

ul li > ul li > ul li > ul li::before {
  content: var(--list-symbol-level4);
}

/*
 List » Unordered List » Level 5
 ==============================================================================
*/

ul li > ul li > ul li > ul li > ul li::before {
  content: var(--list-symbol-level5);
  font-size: 1rem;
  top: 2.5px;
}

/*
 List » Ordered List
 ==============================================================================
*/

ol {
  list-style: var(--ordered-list-level1);
}

ol ol {
  list-style: var(--ordered-list-level2);
}

ol ol ol {
  list-style: var(--ordered-list-level3);
}

ol ol ol ol {
  list-style: var(--ordered-list-level4);
}

ol ol ol ol ol {
  list-style: var(--ordered-list-level5);
}
