/*
 ==============================================================================
 Paragraph
 ==============================================================================
*/

/**
 * 1. Remove top margin
 * 2. Add bottom margin for better content readability
 * 3. Set default font size (in rem)
 */

p {
  margin-top: 0; /* [1] */
  margin-bottom: var(--paragraph-margin-bottom); /* [2] */
  font-size: var(--font-size); /* [3] */
}
