/*
 ==============================================================================
 Quotes
 ==============================================================================
*/

/**
 * 1. Quotes should be in italic
 * 2. Add some bottom margin for better content readability
 * 3. Add a left vertical divisor that bleeds out of the text container
 * 4. Support citation through a `<footer>` element
 **/

blockquote {
  margin: 0 0 var(--quote-margin-bottom); /* [2] */
  position: relative;
}

blockquote::before { /* [3] */
  content: '';
  position: absolute;
  left: var(--quote-divisor-left);
  top: -7.5%;
  width: var(--quote-divisor-size);
  height: 115%;
  background: var(--quote-divisor-color);
}

blockquote p {
  font-style: italic; /* [1] */
  margin-bottom: 0;
}

blockquote footer::before { /* [4] */
  content: var(--quote-citation-symbol);
  color: var(--quote-citation-symbol-color);
  margin-right: var(--quote-citation-margin-right);
}
