:root {
  /* Global */
  --font-size-base: 16px;
  --font-size: 1rem;
  --line-height: 1.5;

  /* Colors */
  --color: #3A3A3A;
  --color-bg: #FFF;

  /* Typography scale */
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --h5: 0.875rem;
  --h6: 0.75rem;

  /* Fonts */
  --font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-serif: 'PT Serif', Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-family-monospace: Menlo, Monaco, 'Courier New', Courier, monospace;

  /* Weight */
  --font-weight-light: 300;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  /* Headings */
  --headings-font-family: var(--font-family-sans-serif);
  --headings-font-weight: var(--font-weight-bold);
  --headings-line-height: var(--line-height);
  --headings-color: var(--color);
  --headings-margin-bottom: calc(var(--font-size) * 0.5);

}
