/* stylelint-disable max-line-length */

/*
 ==============================================================================
 Project variables
 ==============================================================================
*/

:root {
  /* Global */
  --font-size-base: 18px;
  --font-size: 1.25rem;
  --line-height: 1.5;

  /* Colors */
  --color: #3A3A3A;
  --color-bg: #FFF;
  --color-gray: rgba(0, 0, 0, 0.45);
  --color-light-gray: rgba(0, 0, 0, 0.045);
  --color-lighter-gray: rgba(0, 0, 0, 0.05);
  --color-light-green: #8CFFBB;
  --color-lighter-green: #EDFEF2;

  /* Typography scale */
  --h1: 2.9rem;
  --h2: 2rem;
  --h3: 1.75rem;
  --h4: 1.6rem;
  --h5: 1.45rem;
  --h6: 1.25rem;

  /* Fonts */
  --font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-serif: 'PT Serif', Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-family-monospace: Menlo, Monaco, 'Courier New', Courier, monospace;

  /* Weight */
  --font-weight-light: 300;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  /* Headings */
  --heading-font-family: var(--font-family-sans-serif);
  --heading-font-weight: var(--font-weight-bold);
  --heading-line-height: 1.15;
  --heading-color: var(--color);
  --heading-margin-top: 2.5rem;
  --heading-margin-bottom: 1.5rem;

  /* Content */
  --content-max-width: 700px;
  --content-padding-vertical: 0;
  --content-padding-horizontal: 40px;
  --content-margin-top: 2rem;
  --content-margin-bottom: 8rem;

  /* Paragraphs */
  --paragraph-margin-bottom: 2.5rem;

  /* Lists */
  --list-margin-bottom: var(--font-size);
  --list-symbol-level1: '●';
  --list-symbol-level2: '◯';
  --list-symbol-level3: '◼';
  --list-symbol-level4: '◻';
  --list-symbol-level5: '»';

  /* Ordered lists */
  --ordered-list-level2: lower-roman;
  --ordered-list-level3: lower-latin;
  --ordered-list-level4: upper-roman;
  --ordered-list-level5: upper-latin;

  /* Quotes */
  --quote-margin-bottom: var(--font-size);
  --quote-divisor-color: var(--color);
  --quote-divisor-size: 3px;
  --quote-divisor-left: -20px;
  --quote-citation-symbol: '─';
  --quote-citation-symbol-color: var(--color-gray);
  --quote-citation-margin-right: 0.5rem;

  /* Code */
  --code-font-size: 80%;
  --code-margin-bottom: var(--font-size);
  --code-border-radius: 3px;
  --code-padding-vertical: 0.2rem;
  --code-padding-horizontal: 0;
  --code-border: 1px solid var(--color-light-gray);

  /* Underline */
  --underline-border-offset-x: 2px;
  --underline-border-offset-y: 3px;
  --underline-color: var(--color);

  /* Tables */
  --table-border: 1px solid var(--color-light-gray);
  --table-bg: var(--color-lighter-gray);
  --table-heading-text-align: left;
  --table-heading-border: 3px solid var(--color-light-gray);

  /* Links */
  --link-color: var(--color);

  /* Checklists */
  --checklist-margin-right: 0.5rem;

  /* Highlight */
  --highlight-color: var(--color);
  --highlight-bg: var(--color-lighter-green);
  --highlight-bg-hover: var(--color-light-green);
}
