/*
 ==============================================================================
 Fancy Icons
 ==============================================================================
*/

/**
 * 1. Remove Postamble icons
 * 2. Remove horizontal spacing
 */

#postamble .author,
#postamble .date,
#postamble .validation {
  background-image: none; /* [1] */
}

#postamble p {
  padding-left: 0; /* [2] */
}

/**
 * Remove "back-to-top" icons
 */

.back-to-top i {
  display: none;
}
